.lead-form {
    overflow:hidden;
/*
    padding-left: 2.5%;
*/
}
/*
.lead-form .notice {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lead-form .notice,
.lead-form h3
{
    width: 95%;
}
*/

.lead-form legend {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.lead-form .field {
    width: 48%;
    float: left;
}

.lead-form .html-edit-field {
    width: 100%;
}

.widget-form-container.lead-form .html-edit {
    min-height: 200px;
}

.lead-form .field:nth-child(even) {
    margin-right: 2%;
}

.lead-form .field:last-child,
.lead-form .field:nth-last-child(2)
{
    width: 100%;
}

/*
.lead-form .field:last-child input,
.lead-form .field:nth-last-child(2) textarea
{
    width: 97.5%;
}

.lead-form .field input,
.lead-form .field select,
.lead-form .field textarea {
    width: 95%;
}
*/