.list-widget .button.new-item{
	background: #ff5a00 url('img/new.png') no-repeat 50% 50%;
	background-size: 50%;
}
.list-widget .button.new-item,
.list-widget .button.new-item:active,
.list-widget .button.new-item:visited
{
    width: 15px;
    min-width: initial;
    height: 15px;
    float:right;
    position: relative;
    border-left: 1px solid #FFF;
    color: #525252;
    box-shadow: none;
}


.sortable-list-widget .list-head td {
    cursor: pointer;
}



ul.pager {
    list-style: none;
    padding: 0px;
    overflow:hidden;
}

ul.pager li {
    float: left;
    margin: 2px;
    cursor: pointer;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
}

ul.pager li a {
    height: 100%;
    width: 100%;
    line-height: 24px;
    text-align: center;
    display: block;
    border: 1px solid #999;
    text-decoration: none;
    color: #4F5155;
}


ul.pager li.current {
    background: #ff5a00;
    color: white;
}

ul.pager li:hover {
    color: white;
}

ul.pager li.unavailable {
   color: #999;
   cursor: default;
}

ul.pager li:hover a {
    color: white;
    border: 1px solid #B46753;
    background: #E13300;
}

ul.pager li.current:hover {
    background: #963B20;
}