#top form {
    overflow: hidden;
}

#top form .field {
    float: left;
    width: 220px;
    margin-right: 20px;
}

#middle {
    /* height: 30%; */
    overflow-y: hidden;
}

#bottom {
    /* height: 70%; */
    overflow-y: hidden;
    border-top: 1px dashed #ccc;
}

#middle .widget,
#bottom .widget
{
    overflow-y: auto;
}

textarea[name="summary"] {
    min-height: 500px;
}